# ARADI App Configuration
APP_NAME=ARADI
APP_VERSION=1.0.0

# Feature Flags
USE_FIREBASE=true
USE_STRIPE=false
USE_MOCK_DATA=false

# Firebase Configuration
FIREBASE_PROJECT_ID=aradi-app-ed624
FIREBASE_API_KEY=AIzaSyCiq_6o977MK_jlJXdKDmhzDrtBMViBFJY
FIREBASE_APP_ID=1:766361317085:android:b753416f89fb5b805ef534
FIREBASE_MESSAGING_SENDER_ID=766361317085
FIREBASE_STORAGE_BUCKET=aradi-app-ed624.firebasestorage.app
